@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Instrument Sans';
  src: url('../../public/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf') format('truetype'); /* Adjust path as necessary */
  font-weight: bold; /* You can specify different weights if needed */
  font-weight: normal; /* You can specify different weights if needed */
  font-weight: light; /* You can specify different weights if needed */
  font-weight: regular; /* You can specify different weights if needed */
  font-style: italic;  /* Use "normal" or "italic" as necessary */
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: 'Arial, Helvetica, sans-serif'; */
  font-family: 'Instrument Sans', sans-serif; /* Fallback font stack */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
